{% extends 'orders/base.html' %}

{% block title %}
Kitchen Dashboard
{% endblock %}

{% block heading %}
Kitchen Dashboard
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block main_content %}
<!-- Station Grid -->
<div class="stations-box grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">

    {% for station_name, items in order_items.items %}
    {% include 'orders/station-card.html' %}   
    {% endfor %}

</div>
{% endblock %}

{% block extra_script %}
<script>
    const stationBox = document.getElementsByClassName("stations-box")[0]

    setInterval(() => {
        console.log("Hey there");
        fetch("{% url 'kitchen_dashboard_view_live_url' request.session.station_code %}")
            .then(response => {
                if (!response.ok) throw new Error(`HTTP ${response.status}`);
                return response.text();
            })
            .then(data => {
                console.log(data);
                // set blank
                stationBox.innerHTML = ""

                // set new data
                stationBox.innerHTML = data
            })
            .catch(error => console.error('Fetch error:', error));

    }, 5000);   
</script>
{% endblock %}